.ol-popup {
    max-width: 350px;
    border-radius: 5px;
}

.ol-popup.default > div {
    border: 2px solid #ff5a34;
    border-radius: 5px;
}
.ol-popup.default .anchor {
    color: #ff5a34;
}

button:hover {
    cursor: pointer;
}